<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>ApplicationVote</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Verifier</display-name>
    <servlet-name>Verifier</servlet-name>
    <servlet-class>presentation.Verifier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Verifier</servlet-name>
    <url-pattern>/Verifier</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Votant</servlet-name>
    <servlet-class>presentation.Votant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Votant</servlet-name>
    <url-pattern>/Votez</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Envoyer</display-name>
    <servlet-name>Envoyer</servlet-name>
    <servlet-class>presentation.Envoyer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Envoyer</servlet-name>
    <url-pattern>/Envoyer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Supprimer</display-name>
    <servlet-name>Supprimer</servlet-name>
    <servlet-class>presentation.Supprimer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Supprimer</servlet-name>
    <url-pattern>/Supprimer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Centre2</display-name>
    <servlet-name>Centre2</servlet-name>
    <servlet-class>presentation.Centre2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Centre2</servlet-name>
    <url-pattern>/Centre2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Centre1</display-name>
    <servlet-name>Centre1</servlet-name>
    <servlet-class>presentation.Centre1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Centre1</servlet-name>
    <url-pattern>/Centre1</url-pattern>
  </servlet-mapping>
</web-app>